@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
body{
    background: radial-gradient(white, black);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative; 
    width: 100%;
    
} 

nav{
  display:flex;
  height:100px;
  width:100%;
  background:#000;
  align-items: center;
  justify-content:space-between;
  padding:0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo p{
  color: white;
  position: relative;
  left: 75px;
  bottom: 73px;
  font-size: 30px;
  font-weight: 500;
  font-family: algerian;
}
nav .logo img{
  position: relative;
  top: 3px;
  padding: 3px;
  height: 100px;
  width: 100px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

nav ul{
  display:flex;
  flex-wrap: wrap;
  list-style-type: none;
}
nav ul li{
  margin:0 5px;
}
nav ul li a{
  color:#f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  bottom: 15px;
  padding:8px 15px;
  border-radius: 32px;
  letter-spacing:1px;
  border-bottom:1.5px solid transparent;
  transition:all 0.7s ease;
}
nav ul li a.active,
nav ul li a:hover{
  border-color:orange;
  color:orange;
}
nav .menu-btn i{
  color:#fff;
  font-size:22px;
  cursor: pointer;
  display:none;
}
input[type="checkbox"]{
  display:none;
}

@media (max-width:1000px){
  nav{
    padding:0 40px 0px 50px;
  }
}
@media (max-width:920px){
  nav .menu-btn i{
    display:block;
  }
  #click:Checked ~ .menu-btn i:before{
    content:'\f00d';
  }
  nav ul{
    position:fixed;
    top:80px;
    left:-100%;
    background:#111;
    height:100vh;
    width:100%;
    text-align: center;
    z-index:10;
    display:block;
    transition:all 0.3s ease;
  }
  #click:Checked ~ ul {
    left:0px;
  }
  nav ul li{
    width:100%;
    margin:40px 0;
  }
  nav ul li a{
    width:100%;
    margin-left:-100%;
    display:block;
    font-size: 20px;
    transition:0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:Checked ~ ul li a{
    margin-left:0px;
  }
}
.chest {
  padding: 95px;
  margin: 5px 25px;
  border: 2px solid aliceblue;
  background: url("https://cdn.pixabay.com/photo/2020/03/17/16/36/man-4941041__340.jpg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
  border-radius: 16px;
  color: white;
}
.back {
  padding: 95px;
  margin: 5px 25px;
  border: 2px solid aliceblue;
  background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/workouts/2016/12/bad-ass-back-workout-web-1481318712.jpg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
  border-radius: 16px;
  color: #fff;
}
.biceps {
  padding: 95px;
  margin: 5px 25px;
  border: 2px solid aliceblue;
  background: url("https://w0.peakpx.com/wallpaper/707/698/HD-wallpaper-bodybuilding-barbell-biceps-exercises-fitness-gym.jpg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
  border-radius: 16px;
  color: #fff;
}
.triceps {
  padding: 95px;
  margin: 5px 25px;
  border: 2px solid aliceblue;
  background: url("https://d3h9ln6psucegz.cloudfront.net/wp-content/uploads/2018/01/The-Best-Exercise-Order-for-Triceps.jpeg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
  border-radius: 16px;
  color: #fff;

}
.shoulder {
  padding: 105px;
  margin: 25px 25px;
  border: 2px solid aliceblue;
  background: url("https://www.muscleandfitness.com/wp-content/uploads/2019/05/Shoulder-Back-Pose-1109.jpg?quality=86&strip=all");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
  border-radius: 16px;
  color: #fff;
}
.abs {
  padding: 105px;
  margin: 25px 25px;
  border: 2px solid aliceblue;
  background: url("https://w.wallha.com/ws/11/mhQZUYT0.jpg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
  border-radius: 16px;
  color: #fff;
}
.legs {
  padding: 105px;
  margin: 25px 25px;
  border: 2px solid aliceblue;
  background: url("https://modernteen.co/wp-content/uploads/2020/01/fitness-power-man-person-17840.jpg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
  border-radius: 16px;
  color: #fff;
}
.btn {
  margin: 20px;
  padding: 10px;
  background-color: black;
  border: 2px solid white;
  border-radius: 16px;
  color: white;
}
.btn:hover {
  background-color: red;
  cursor: pointer;
}
footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .contend{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .contend .sec{
  margin-right: 30px;
}

footer .contend .sec.aboutus{
  width: 40%;
}

footer .contend h2{
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .contend h2:before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

footer p{
  color: #999;
}

.quickLinks{
  position: relative;
  width: 25%;
}
.quickLinks ul li{
  list-style: none;
}
.quickLinks ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover{
  color: #fff;
}

.contact{
  width: calc(35% - 120px);
  margin-right: 0;
}

.contact .info{
  position: relative;
}

.contact .info li{
  display: flex;
  margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contact .info li span{
  color: #999;
}

.copyrightText{
  position: relative;
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 991px){
  footer{
    padding: 40px;
  }
  footer .contend{
    flex-direction: column;
  }
  footer .contend .sec{
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .contend .sec.aboutus,
  .quickLinks,
  .contact{
    width: 100%;
  }
  .copyrightText{
    padding: 8px 40px;
  }
}